# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
.idea
.history
.well-known

sites/all/themes/flexitol/prepros-6.config
/sites/all/themes/flexitol/prepros-6.config

.DS_Store
/*/.DS_Store
.htaccess
*Zone.Identifier
.well-known
php.ini

sites/default/default/

Default.html
php_errorlog
pinterest-a07f5.html
