# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
.idea
.history

sites/all/themes/flexitol/prepros-6.config
/sites/all/themes/flexitol/prepros-6.config

.DS_Store
/*/.DS_Store
.htaccess
